# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
logs/*.log
backend/logs/
frontend/logs/

# Build
dist/
build/
.next/
out/

# Cache
.cache/
.vscode/
.DS_Store

# PM2
pids/
*.pid
dump.pm2
